# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
plantmonitoring/
venv/
.venv/

# Environment Variables
.env

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db